*
{
    margin: 0;
    padding: 0;
}
body{
      margin: 0 auto;
      background-image: url(Pictures/arkaplan.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    background-color: #ecd6d6;
    padding: 20px;
}
table{
    background-color: #333;
    color: #ac2020;
    padding: 10px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.element {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.element::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.menu-disi{
    width: 100%;
    height: 100px;
    display: flex;
 justify-content:space-between;
 }
.menu-bolumu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    padding: 20px;
    width: 40%;   
}
.linkler{
    display: flex;
    flex-direction: start;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 30%;
    gap: 10px;
   
}
.facebook{
    max-height: 100%;
    width: auto;
}
.logo{
    display: flex;
    justify-content: flex-start;
  height: 150px;
}
.minik-logolar{
height: 50px;
}

.projects{

    font-size: 25px;
    border-bottom: #333;
    color: #ffffff;
}
.about-me{
    font-size: 25px;
    color: white;
}
.giris{
    width: 100%;
    height: 1000px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.giris-yazi{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 150%;
    height: 300px;
}

.projeler{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}
.proje-foto{
    width:100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.MPfoto{
    border: 3px;
    border-style: double;
    border-color: #dd7979;
    box-sizing: border-box;
}

.MP {
    position: relative;
    width: 450px;
    height: auto;
    overflow: hidden;
}

.MP img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.MP img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden; 
    z-index: -1; 
}

.MP:hover img:last-child {
    visibility: visible; 
    z-index: 1; 
    transform: scale(1.1)
}

.MP1{
    position: absolute;
    bottom: 10px;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ecd6d671;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #dd7979;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #000000; 
}


button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #dd7979;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Playwrite IT Trad', sans-serif;
    font-size: 25px;
}

button:hover {
    background-color: #0056b3;
}

.aboutme-giris{
    width: 100%;
    height: 700px;
display: flex;
flex-direction: column;
align-items: 20px;
justify-content: center;

}
.aboutme-yazi{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 150%;
    height: 300px;
}